@import '../../styles/variables.scss';

.this__day_info {
  position: relative;
  padding: 40px;
  max-width: 750px;
  width: 100%;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .indicator,
  .indicator__name {
    margin-right: 20px;
  }

  .indicator {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    border-radius: 50%;
  }

  .indicator__name {
    color: $base-color;
    font-size: 14px;
    line-height: 17px;
    min-width: 100px;
  }

  .indicator__value {
    color: var(#{--text-color-default});
    font-size: 14px;
    line-height: 17px;
  }
}

.cloud__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.this__day_info{
  z-index: 2;
}

@media(max-width: 1210px ) {
  .this__day_info{
    max-width: 100%;
  }
}

@media(max-width: 440px ) {
  .item {
    .indicator__name,
    .indicator__value {
      font-size: 12px;
      line-height: 14px;
    }
    .indicator,
    .indicator__name {
      margin-right: 8px;
    }
  }
}

@media(max-width: 360px) {
  .this__day_info{
    padding: 15px;
  }
}