@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bgWeatherImage {
  width: 100%;
  height: 100dvh;
  background-image: url("../../assets/jpg/Earth3-min.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

@media (max-width: 800px)  {
  .bgWeatherImage {
    height: 100%;
    padding-bottom: 20px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    display: block;
  }
}
