@import './normalize';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Roboto:wght@500&display=swap');


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;

  background: var(#{--components-background-default});
}

a {
  text-decoration: none
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}