$primary-colors: #4793FF;
$light-background: #fff;
$light-color: #000;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
$border-radius: 20px;

$light-theme: #000;
$dark-theme: #fff;
$base-color: #939cb0; ///

$body-background-dark: #000;
$body-background-light: #fff; 

$border-background-dark: 2px solid #fff;
$border-background-light: 2px solid #000; 

$components-background-dark:rgba($color: #000, $alpha: 0.7);
$components-background-light: rgba($color: #fff, $alpha: 0.7);

$card-background-dark: rgba(46, 48, 53, 0.9);;
$card-background-light: rgba(71, 147, 255, 0.2);

$card-box-shadow-dark: 0px 2px 10px rgba(147, 144, 144, 0.28);
$card-box-shadow-light: 0px 2px 10px rgba(5, 5, 5, 0.28);

$dop-color-text-dark: #cccccc;
$dop-color-text-light: #2a2a2a;



:root {
  //body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(--body-background-light);
  //border-background
  --border-background-dark: #{$border-background-dark};
  --border-background-light: #{$border-background-light};
  --border-background-default: var(--border-background-light);

  //components-background
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(--components-background-light);

  //card-background ///
  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(--card-background-light);

  //shadow
  --card-shadow-dark: #{$card-box-shadow-dark};
  --card-shadow-light: #{$card-box-shadow-light};
  --card-shadow-default: var(--card-shadow-light);

  //text
  --text-color-dark: #{$dark-theme};
  --text-color-light: #{$light-theme};
  --text-color-default: var(--text-color-light);

  //dop-color-text
  --dop-color-text-dark: #{$dop-color-text-dark};
  --dop-color-text-light: #{$dop-color-text-light};
  --dop-color-text-default: var(--dop-color-text-light);
}