@import "../../styles/variables.scss";

.days {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 8px;
  width: 100%;
}

@media (max-width: 393px) {
  .days {
    justify-content: center;
  }
}

.skelet{
  margin: 14px;
  width: 140px;
  height: 212px;
  background: var(#{--card-background-default});
  border-radius: 10px;
  padding: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(#{--card-background-default});
  border-radius: 10px;
  padding: 10px;
  margin: 6px;
  width: 140px;
  height: 212px;
  transition: 0.3s;
  cursor: pointer;
  .info {
    font-size: 13px;
    line-height: 16px;
    color: $base-color;
  }

  .curentDay {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 4px;
    color: #fff;
  }

  .temp {
    font-size: 24px;
    line-height: 28px;
    color: var(#{--text-color-default});
    position: absolute;
    top: 60px;
    right: 10px;
  }

  .img {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
    margin: 0 auto;
  }

  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}
