@import "../../styles/variables.scss";



.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(#{--components-background-default});
  border-radius: 10px;
  border: var(#{--border-background-default});
  padding: 10px;
  // margin: 6px;
  width: 140px;
  height: 212px;
  cursor: pointer;
  
  &:hover {
    box-shadow: var(#{--card-shadow-default});
    transition: all .3s;
  }
  .info {
    font-size: 13px;
    line-height: 16px;
    color: var(#{--text-color-default});
  }
  .tt{
    position: absolute;
    top: 8px;
    font-size: 12px;
    color: var(#{--text-color-default});
  }

  .curentDay {
    position: absolute;
    top: 30px;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 4px;
    color: var(#{--text-color-default});
  }

  .temp {
    font-size: 24px;
    line-height: 28px;
    color: var(#{--text-color-default});
    position: absolute;
    top: 60px;
    right: 10px;
  }

  .weatherImg {
    position: relative;
    width: 60px;
    height: 60px;
    top: 50px;
    margin: 0 auto;
    margin-bottom: 60px;
  }

}
