@import '../../styles/variables.scss';

.extrainfo {
  position: relative;
  padding: 30px;
  max-width: 750px;
  width: 100%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  border: var(#{--border-background-default});
  background: var(#{--components-background-default});
}

.selectTimeWrap{
  position: absolute;
  right: 10px;
}

.extrainfo{
  z-index: 2;
  display: flex;
}

.extrainfoContent{
  width: 100%;
}

@media(max-width: 1210px ) {
  .extrainfo{
    max-width: 100%;
  }
}

@media(max-width: 800px ) {
  .selectTimeWrap{
    position: relative;
    right: 0;
    margin-bottom: 20px;
  }
}


@media(max-width: 440px ) {
  .item {
    .indicatorName,
    .indicatorValue {
      font-size: 12px;
      line-height: 14px;
    }
    .indicator,
    .indicatorName {
      margin-right: 8px;
    }
  }
}

@media(max-width: 360px) {
  .extrainfo{
    padding: 12px;
    flex-direction: column;
  }
}