@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
}

.wrapper,
.wrapperLogo {
  display: flex;
  align-items: center;
}

.logo,
.changeTheme {
  cursor: pointer;
  margin-right: 10px;
}

.logo {
  svg {
    width: 65px;
    height: 65px;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  size: 25px;
  color: var(#{--text-color-default});
}

@media (max-width: 560px) {
  .title {
    display: none;
  }
}

@media (max-width: 420px) {
  .logo {
    display: none;
  }
}
