@import '../../styles/variables.scss';


.this__day {
  padding: 20px;
  min-width: 400px;
  width: 100px;
  background: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  margin-right: 20px;
}

.top__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  svg {
    width: 110px;
    height: 119px;
  }

  .this__temp {
    font-size: 96px;
    font-weight: 500;
    color: $primary-colors;
  }

  .this__day_name {
    font-size: 40px;
    line-height: 49px;
    color: var(#{--text-color-default});
  }
}

.bottom__block {
  .this__info,
  .this__data,
  .this__city {
    color: $base-color;
    font-size: 18px;
    line-height: 14px;
  }
}

@media(max-width: 880px ) {
  .this__day{
    margin-bottom: 20px;
    width: 100%;
  }
}

@media(max-width: 560px) {
  .this__day{
    min-width: 260px;
  }
}

@media(max-width: 440px) {
  .top__block{  
    .this__day_name {
      font-size: 34px;
      line-height: 38px;
      color: var(#{--text-color-default});
    }
  }
  .bottom__block {
    .this__info,
    .this__data,
    .this__city {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

@media(max-width: 360px) {
  .top__block{
    .this__temp {
      font-size: 72px;
    } 
  }
  .bottom__block {
    .this__info,
    .this__data,
    .this__city {
      font-size: 18px;
      line-height: 22px;
    }
  }
}